body {
    font-family: roboto;
    background-color: #d2dbe0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
}
h1{
    color: #0077ff;
    margin-bottom: 100px;
}
form {
    background-color: #fff;
    padding: 30px 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 3px;
    font-weight: 500;
    color: rgb(45, 60, 92);
    font-size: 14px;
}

input,
select,
option {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 14px;
    box-sizing: border-box;
    border: 1px solid rgba(0, 81, 255, 0.247);
    border-radius: 7px;
    }

input[type="checkbox"] {
    width: 13px;
    height: 13px;
    margin-bottom: 0;
    margin-left: 16px;
    margin-bottom: 26px;
    font-size: 12px;
}
input[id="food1"]{
    margin-left: 0;
}
.foodDiv{
    margin-top: 6px;
    margin-bottom: -11px;
}
.small{
    color: rgb(129, 123, 123);
    font-size: 15px;
}
label span{
    color: red;
}
button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #3d9440;
}
button:active{
    background-color: #4caf50;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

th{
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
} td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

tr:hover {
    background-color: #f5f5f5;
}
#myForm{
    font-size: 14px;
    font-weight: 500;
    color:  rgb(45, 60, 92);
}

/* 
table,
th,
td {
  border: 1px solid #ddd;
}
th,
td {
  padding: 8px;
  text-align: left;
  background-color: rgb(145, 158, 158);
}
th {
  background-color: rgb(25, 68, 68);
  color: white;
  font-weight: 350;
} */



